.brand_item {
    display: grid;
    grid-template-columns: max-content repeat(5, 1fr);
    gap: 12px;
    align-items: center;
    background: linear-gradient(170deg, rgba(112, 76, 7, 1) 0%, rgba(1, 1, 0, 1) 100%);
    padding: 5px 20px;
    border-left: 8px solid #FFAF10;
    margin-bottom: 10px;
}

.brand_item span {
    /* width: max-content; */
    padding-bottom: 5px;
}

.brand_icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.weapon {
    border-bottom: 3px solid #F04040;
}


.skill {
    border-bottom: 3px solid #F0C76C;
}

.armor {
    border-bottom: 3px solid #73B8FE;
}